.articles
  .article
    .article__upper-info
      .article__upper-info__title
        はじめまして！
      .article__upper-info__user-name
        takeda
      .article__upper-info__date
        2019/10/05 12:00:00
    .article__text
      hello
    .article__action
      .article__action__edit
      .article__action__destroy